.hidden {
	display: none;
}

html,
body {
	font-family: "Source Sans Pro", sans-serif;
}

main {
	padding: 20px;
	margin: 0 auto;
	max-width: 700px;
}

h1 {
	font-family: "Playfair Display", serif;
	font-weight: 700;
	text-align: center;
}

h2 {
	font-family: "Playfair Display", serif;
	color: #1FAFB7;
	text-align: center;
}

h3 {
	color: #333;
	font-family: "Playfair Display", serif;
	margin: 40px 0 0 0;
	text-align: center;
}

button {
	background: white;
	border: 2px solid #1FAFB7;
	border-radius: 5px;
	color: #1FAFB7;
	display: block;
	font-weight: 600;
	margin: 0 auto;
	outine: none;
	padding: 5px 8px;
	text-transform: uppercase;
}

button:hover,
button:focus {
	background: #1FAFB7;
	color: white;
}

p {
	display: block;
	font-size: 18px;
	max-width: 700px; 
}

b {
	font-weight: 600;
}

.logo {
	display: block;
	margin: 15px auto 50px auto;
}

.story {
	background-color: #ededed;
	border-radius: 10px;
	margin-bottom: 45px;
	padding: 30px 45px;
}

.text {
	color: #333;
	font-size: 18px;	
}

.utterance {
	background: #cdcdcd;
	font-weight: 600;
	margin: 30px 0 0 0;
	padding: 15px 20px;
	border-radius: 10px;
}

.question {
	font-weight: 600;
	max-width: 550px;
}

.explanation {
	font-style: italic;
	margin: 0 0 40px 0;
}

.question-cont {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	margin: 0 auto 40px auto;
	max-width: 700px;
}

/* questionmark that precedes the statement */
.questionmark {
	background: #F4044D;
	border-radius: 50%;
	display: inline-block;
	color: white;
	height: 25px;
	font-size: 20px;
	font-weight: 700;
	padding: 10px;
	margin: 20px 15px 20px 0;
	min-height: 25px;
	min-width: 25px;
	text-align: center;
	width: 25px;
}

/* smaller questionmark in intstructions */
.questionmark.in-text {
	font-size: 16px;
	height: 20px;
	margin: 0 0 0 5px;
	min-height: 20px;
	min-width: 20px;
	padding: 5px;
	width: 20px;
}

/* how likely do you think.. */
.general-question {
	border-top: 2px solid #ededed;
	color: #555;
	font-size: 16px;
	padding: 20px 0 40px 0;
	text-align: center;
}

/* progress bar */
.progress-bar-container {
	display: block;
	height: 50px;
	flaot: right;
	margin: 0 0 20px 0;
	width: 100%;
}

.progress-bar-container p {
	color: #555;
	display: block;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	margin: 0 0 7px 0;
	width: 220px;
}

.block {
	border: 1px solid #1FAFB7;
	border-radius: 5px;
	display: inline-block;
	float: left;
	height: 15px;
	margin: 0 6px 0 0;
	width: 40px;
}

.filled {
	background: #1FAFB7;
	height: 15px;
	width: 0;
}

/* labels (certainly true, certainly false) */
label {
	font-size: 16px;
	font-weight: 600;
	width: 150px;
}

.false {
	float: left;
	text-align: center;
}

.true {
	float: right;
	text-align: center;
}

/* move slider before you procede */
.move-slider {
	color: #555;
	font-size: 16px;
	margin: 5px auto;
	text-align: center;
}

/* slider styles */
.slider-container {
	margin: 15px auto 30px auto;
	display: block;
	width: 540px;
}

.slider-container input[type="range"] {
	-webkit-appearance: none;
	outline: none;
	padding: 0;
	margin: 2px 0 0 0;
	width: 240px;
}

input[type="range"]:focus {
	outline: none;
}

/* 
	slider  ---o--- 
	--- track
	 o  thumb
*/

/* slider track styles */
input[type=range]::-webkit-slider-runnable-track {
	background: #cbcbcb;
	border: none;
	outine: none;
	border-radius: 10px;
	cursor: pointer;
	height: 6px;
}

input[type=range]::-moz-range-track {
	background: #cbcbcb;
	border-radius: 10px;
	cursor: pointer;
	height: 6px;
}

/* slider thumb styles */
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #676767;
	border: 4px solid #fefefe;
	border-radius: 50%;
	box-sizing: content-box;
	box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
	height: 16px;
	margin-top: -9px;
	margin-left: -2px;
	width: 16px;
}

input[type=range]::-moz-range-thumb {
	background: #676767;
	border: 4px solid #fefefe;
	border-radius: 50%;
	box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.6);
	height: 16px;
	width: 16px;
}

input[type="range"]:focus::-webkit-slider-thumb {
	background: #F4044D;
}

input[type="range"]:focus::-moz-range-thumb {
	background: #F4044D;
}

/* questionnaire */
.questionnaire {
	margin: 40px 0;
}

.questionnaire p input,
.questionnaire p select,
textarea {
	display: block;
}

.questionnaire label {
	font-weight: normal;
}

.questionnaire textarea {
	border: 1px solid #666;
	border-radius: 10px;
	font-size: 16px;
	padding: 10px;
	width: 500px;
}